/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4; /* Light background to ensure contrast */
  color: #333; /* Keeping text color neutral for readability */
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Use viewport height to ensure full height */
}

/* Header */
header {
    background-color: #722e8e; /* Violet */
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* Main Content */
main {
    padding: 20px;
    flex: 1; /* Allows the main content to grow and fill the space */
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

/* Sections */
section {
    margin-bottom: 20px;
    padding: 20px;
    background: #ffffff; /* Keeping sections white for contrast and readability */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Buttons */
button {
    background-color: #de60a5; /* Pink */
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

/* New styles for the toggle button */
#toggleAgendaSummary {
    background-color: transparent; /* Make the background transparent */
    color: #722e8e; /* Use the primary color for text */
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 1rem; /* Adjust font size to match surrounding text */
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
    text-decoration: underline; /* Add underline to indicate it's clickable */
}

#toggleAgendaSummary:hover {
    background-color: var(--color-primary);
    text-align: center;
}

#agendaSummary {
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
    text-align: left;
}

/* Links */
a {
    background-color: #de60a5; /* Pink */
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    textDecoration: none;
    display: inline-block;
    margin-top: 10px;
}

a:hover, button:hover {
    background-color: #50acbd; /* Blue */
}

/* Footer */
footer {
  flex-shrink: 0; /* Prevents the footer from shrinking */
  background-color: #333; /* Dark footer for contrast */
  color: #ffffff;
  text-align: center;
  padding: 2px; /* Adjusted padding */
  font-size: 0.8rem; /* Smaller text */
  position:relative;
  bottom: 0;
  width: 100%;
}

footer a {
    color: #50acbd; /* Adjust link color if needed */
    display: inline-block;
    margin: 0 5px; /* Slimmer, more fitted to the text */
}

/* New container-footer styling */
.container-footer {
    text-align: center;
    margin-top: 20px; /* Space between announcement-content and footer */
    padding: 10px 0; /* Tight margins for the button */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #f4f4f4; /* Light background */
}

.container-footer p {
    margin: 0 auto;
    max-width: 80%; /* Slightly less tight margins for the text */
}

.container-footer button {
    background-color: #50acbd;
    color: #ffffff;
    border: none;
    padding: 5px 10px; /* Tighter button */
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem; /* Adjusted font size */
    margin-top: 10px; /* Space above the button */
}

/* Adjusting button hover effect */
button:hover {
    background-color: #de60a5;
}

/* Adjustments for links within the content */
.announcement-content a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 2px 4px; /* More fitted to the text */
    margin: 0 2px; /* Slimmer margins */
    box-shadow: 0 1px 3px rgba(0,0,0,0.1); /* Subtle shadow for differentiation */
}

/* Announcement Section */
.announcement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* This centers the text of all child elements */
}

.announcement-content {
    max-width: 800px; /* Adjust based on your design preference */
    width: 100%; /* Ensures it takes up the full width of its container */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center align the main body text */
    color: #333333; /* Applying color-dark for better readability */
}

.announcement-content > h2,
.announcement-content > .announcement-date-location {
    text-align: center;
    color: #722e8e; /* Applying color-primary to the main heading */
}

.announcement-date-location {
    font-style: italic;
    color: #de60a5; /* Applying color-secondary for important info */
    margin-bottom: 20px;
}

.quote-container {
    background-color: #f4f4f4; /* Light background for contrast */
    padding: 20px;
    margin: 20px 0;
    border-left: 4px solid #de60a5; /* Pink */
}

blockquote {
    font-style: italic;
    margin: 0 0 10px 0;
}

/* Announcement Section */
.announcement-container {
    text-align: center; /* Center align the Announcement heading */
}

.announcement-title {
    max-width: 60%; /* Adjust the width as needed to control wrapping */
    margin: 0 auto; /* Center the container */
    text-align: center; /* Center align the text */
}

.announcement-content {
    text-align: center; /* Center align the content */
    width: 100%;   /* Other styling as needed */
}

.announcement-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-top: 10px;
    text-align: left;
}
/* Add or adjust styles for the new inline button */
#aboutButton {
    background-color: transparent;
    color: #de60a5; /* Match the link color */
    padding: 0;
    border: none;
    font-size: 0.8rem; /* Match the surrounding text size */
    cursor: pointer;
    textDecoration: underline;
}

#aboutButton:hover {
    background-color: transparent;
    color: #50acbd; /* Hover color */
}

.agenda-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adds space between each agenda item */
    margin: 20px 0; /* Adds margin above and below the agenda container */
}

.agenda-item {
    background-color: #ffffff; /* White background for contrast */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    padding: 20px; /* Padding inside each agenda item */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.agenda-item:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Increased shadow on hover for emphasis */
}

.agenda-item time {
    font-size: 1.2rem; /* Larger font size for the time */
    font-weight: bold; /* Bold font weight for time */
    color: #722e8e; /* Theme color for time */
    margin-bottom: 10px; /* Space between time and title */
}

.agenda-item h3 {
    margin: 0 0 10px 0; /* Removes margin from h3 and adds space below */
    color: #de60a5; /* Pink color for event titles */
}

.agenda-item p {
    margin-bottom: 10px; /* Adds space between paragraphs */
    line-height: 1.5; /* Increases line height for readability */
}
/* Modals */
.modal {
    display: none; /* Hide modals by default */
    position: fixed; /* Fixed position to stay in place */
    z-index: 1; /* Sit on top of other content */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black with opacity for overlay */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Shadow for pop effect */
    animation: fadeIn 0.3s; /* Fade in animation for modal */
}

/* Fade in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Close button inside modal */
.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.speaker img {
    width: 150px; /* Adjusted to ensure uniform size */
    height: 150px; /* Adjusted to ensure uniform size */
    object-fit: cover; /* Ensures the image covers the area without losing its aspect ratio */
    border-radius: 50%; /* Optional: makes the image round */
    display: block;
    margin: 0 auto; /* Centers the image */
}


.speaker p {
    padding-top: 15px;
}

/* CSS for all h3 and h4 within speaker classes */
.speaker h3 {
    color: #de60a5; /* Pink color for speaker names */
}

.speaker h4 {
    color: #50acbd; /* Blue color for speaker titles */
    font-size: smaller; /* Smaller font size for speaker titles */
}

.speaker h5 {
    color:black; /* Blue color for speaker titles */
    font-size: smaller; /* Smaller font size for speaker titles */
}